.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Avenir";
}

h1,
h2,
p {
  text-align: center;
}

p {
  font-size: 14px;
  font-style: italic;
}

main {
  width: fit-content;
  margin: 1em auto;
}

video {
  vertical-align: middle;
}

.button-section {
  display: inline-block;
  margin: 0 2em;
  vertical-align: middle;
}

.button-section.test {
  display: block;
  margin: 2em auto;
}

.button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: none;
  border-radius: 5px;
  border: 1px solid grey;
}


.data-inputs {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.input-block {
  display: inline-block;
  width: fit-content;
  margin: 1em 0.5em 2em 0.5em;
}

.input-block:first-of-type {
  margin-left: 0;
}

.input-block input {
  width: 7em;
  height: 2em;
}

.input-block input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

button {
  display: block;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 14px;
}

.prediction-block {
  display: none;
  width: 80%;
  margin: 0 auto;
}